<h1>Pages#home</h1>

<div class= "row fondo">
    <div class= "col-md-5">
        <p>Exercitation ipsum cillum ipsum excepteur ad. Sit veniam dolore magna commodo excepteur laborum minim non ex tempor consequat esse. Nisi anim ut nulla reprehenderit eu ex dolore qui anim officia commodo. Eu adipisicing reprehenderit deserunt consequat veniam aute veniam minim anim id eiusmod ut non.</p>
    </div>
    <div class= "col-md-5">
        <p>Exercitation ipsum cillum ipsum excepteur ad. Sit veniam dolore magna commodo excepteur laborum minim non ex tempor consequat esse. Nisi anim ut nulla reprehenderit eu ex dolore qui anim officia commodo. Eu adipisicing reprehenderit deserunt consequat veniam aute veniam minim anim id eiusmod ut non.</p>
    </div>
</div>